#active-bids-list {
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 50px;
  width: 100%;
}

#active-bids-list::-webkit-scrollbar {
  height: 20px;
  border-radius: 20px;
  border: 1px solid white;
  background: transparent;
}

#active-bids-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}
