@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --purp: #6f4ff2;
}

.light {
  --bg-clr: #d6dbde;
  --txt-clr: #000;
  --bg-comp: #ffffff;
}
.dark {
  --bg-clr: #131129;
  --txt-clr: #fff;
  --bg-comp: #1d1932;
}
