@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --bg-clr: #d6dbde;
  --txt-clr: #000;
  --bg-comp: #ffffff;
}
.dark {
  --bg-clr: #131129;
  --txt-clr: #fff;
  --bg-comg: #1d1932;
}
